[2016-02-03 19:06] j-verre opened #3 "Getting error on, after install, on "npm run start""
I am currently getting unresolved modules errors when trying to 'npm run start' within my react-redux project:
'Module not found' for the following:

My guess is that it's most likely a Babel runtime/version issue.

However, I'm getting an error trying to run your project by itself. After 'npm install' on the 'examples/react' directory, the 'npm run start' fails.
Trying to run the start script:

[2016-02-04 03:47] thangngoc89 commented on #3
Are you on npm@2 ?  I researched this error.  It looks like npm@3 is the only solution.

By the way,  `react-howler` is shipped with es5 code in npm.  The only dependency is howler.js.  I'll see what I can do with this

[2016-02-04 15:57] j-verre commented on #3
Yes, npm 2.14.7
We have no plans upgrade during this phase of development. I'll look around if I get a chance.
Thanks.

[2016-02-04 16:02] Stenerson commented on #3
I'm having the same issues I upgraded to the latest npm `3.5.3` with no luck.

[2016-02-04 16:30] Stenerson commented on #3
I ran `npm update` and it's building now.

Not sure if that's an advisable solution but it seemed to get me past this.

[2016-02-04 16:39] thangngoc89 commented on #3
@Stenerson, @j-verre did you ran `npm install` inside `examples/react` folder ?
The examples is a standalone project that comsumes `react-howler` it doesn't use dependencies from `react-howler`

[2016-02-04 16:48] Stenerson commented on #3
@thangngoc89 I wasn't using the examples.
I ran `npm -i react-howler --save` from my project root.

I'm using gulp and browserify/babelify to build. I was getting the same errors as @j-verre. I upgraded to npm@3 as you suggested and the issue was the same. Once I ran `npm update` it's building fine. I'm not sure if my babel version was out of date or what it might have been. I did try updating bab

[2016-02-04 16:59] thangngoc89 commented on #3
@Stenerson thank you for you information. Sadly, I'm don't use browserify. From the error @j-verre provided, all I can say is babel trying to babelify `react-howler` code, which is already in ES5.

Is your project public ? Could you send me a link?

[2016-02-04 17:00] Stenerson commented on #3
It's not public but like I said it's building now so I think I'm good, at least for the build.

[2016-02-04 17:04] thangngoc89 commented on #3
@Stenerson ok, I'm refactoring dependencies here https://github.com/thangngoc89/react-howler/pull/4.
Hope It'll work in npm@2 again

[2016-02-04 17:10] Stenerson opened #5 "Returning invalid element type?"
Not sure if this a bug, a user error or something else entirely. I'm getting errors when trying to include the ReactHowler component in a simple container component that I created.

Here's the container component `HowlerButton`.

[code]

When this component is rendered by its parent I get the following errors in the console.

[code]

If I remove the `ReactHowler` component the button renders fine.

[2016-02-04 17:14] thangngoc89 commented on #5
It looks like `ReactHowler` is `null, undefiend, boolean, or number`
Could you `console.log(ReactHowler)` inside render method ?

[2016-02-04 17:18] thangngoc89 commented on #5
FYI, I'm using babel 6 so you mind have to require `ReactHowler` at

`var ReactHowler = require('react-howler').default`

Ref: http://stackoverflow.com/questions/33505992/babel-6-changes-how-it-exports-default

I'm publish a new version to fix this asap

[2016-02-04 17:26] Stenerson commented on #5
Thanks @thangngoc89 adding `.default` worked!

Before I added `.default`, `console.log(ReactHowler)` was only returning the `Howler` global object.

[2016-02-04 17:43] thangngoc89 commented on #5
@Stenerson published 1.0.0

You can use CommonJS require style normally:

`var ReactHowler = require('react-howler');`

Thanks for reporting this issue.
Feel free to reopen this.

[2016-02-04 18:17] Stenerson commented on #5
@thangngoc89, I ran `npm uninstall react-howler` and `npm install react-howler --save`

My `package.json` was updated to `"react-howler": "^1.0.0"` but it's still requiring me to specify the default object.

The component is working great and I don't necessarily mind the extra word in the require statement but I'm happy to help verify this if there's something else I could do.

Thanks for all the

[2016-02-04 18:24] thangngoc89 commented on #5
@Stenerson thanks for debugging with me. I'll see what I can do to work around this babel issue. I the mean time, please require `react-howler` with `default`.

Sorry for all the troubles, this is my first time publish a React component with ES6 code

[2016-02-04 18:28] thangngoc89 commented on #3
@j-verre fixed in `react-howler@1.0.1`

Could you update and confirm ?

[2016-02-04 18:33] thangngoc89 commented on #5
@Stenerson could you try `react-howler@1.0.2` ?

[2016-02-04 18:38] Stenerson commented on #5
Confirmed *Fixed* in `1.0.2`! Nice work.

[2016-02-04 18:40] thangngoc89 commented on #5
Thanks.

[2016-02-04 18:40] #5 closed

[2016-02-04 18:46] Stenerson commented on #5
For the record, here's my "completed" `HowlerButton` component in case it's any use to you or anyone else. It's pretty similar to your examples but I thought I'd include it just it case. Thanks again for all the help.

The icons are using font-awesome classes and the component uses the excellent classnames package.

[code]

[2016-02-05 09:54] thangngoc89 commented on #3
ping @j-verre

[2016-02-05 10:10] j-verre commented on #3
@thangngoc89 Noticed you were doing some work a few minutes ago. Do you want me to wait or retry? When ready I will grab a fresh copy of the project.

[2016-02-05 10:12] thangngoc89 commented on #3
@j-verre you can try with 1.0.2. I didn't release new version yet :)

[2016-02-05 11:32] j-verre commented on #3
@thangngoc89 It seems to be better, the babel-runtime-errors are gone and it built but running the app gave me the error...
`Uncaught Error: Cannot find module "react-howler"`
for the `import Audio from 'react-howler'` statements in AutoPlay.js, OnlyPlayPauseButton.js, and FullControl.js

[2016-02-05 11:39] thangngoc89 commented on #3
@j-verre are you installing `react-howler` as dependencies in your project or cloning it from github ?

For master branch on github, after cloning it, run these command inside `react-howler` folder:

[code]

open http://localhost:3000

I'll update README.md to be more specific about this :)

I added automatic build in Travis for node 4 and npm@2 so I can make sure this will work

[2016-02-05 12:41] j-verre commented on #3
@thangngoc89 My project is a dependency not cloning from github.
Following the above it fails at `npm start`
[code]
Just wondering why you are using port 3000 when the 'webpack-dev-server' default is 8080?

[2016-02-05 12:44] thangngoc89 commented on #3
@j-verre you can't run example when install it via npm. (some minor conflict)

fyi, port 8080 was used by npm_lazy in my laptop

[2016-02-05 14:05] j-verre commented on #3
@thangngoc89 `npm run example:react:start` is not available
trying npm run example:react:build now...

[2016-02-05 14:15] thangngoc89 commented on #3
How did you install `react-howler` ? To run example,  you had to clone the repo

[2016-02-05 14:23] j-verre commented on #3
I did git clone the 2.0.0 repo to a directory on my desktop.

However, after it failed I went into the examples directory and changed the port to 8008 in webpack.config (entry) and package.json (start script) then it built and ran fine.
So that looks good.

[2016-02-05 14:27] thangngoc89 commented on #3
glad to hear it

[2016-02-05 14:37] j-verre commented on #3
looks good, thanks for working on this issue

[2016-02-05 14:48] thangngoc89 commented on #3
Closed by now.  Feel free to reopen it

[2016-02-05 14:48] #3 closed

[2016-02-14 16:49] corbifex opened #8 "Isomorphic errors"
When you use react isomorphic it will give errors because howler use navigator which is not available in nodejs.

     at e (/node_modules/howler/howler.min.js:2:385)
     at /node_modules/howler/howler.min.js:2:800
     at Object.<anonymous> (/node_modules/howler/howler.min.js:2:19670)
      at Module._compile (module.js:434:26)
      at Object.Module._extensions..js (module.js:452:10)
      at M

[2016-02-14 17:01] thangngoc89 commented on #8
Well.  Like you said,  howler relied on navigator.  Maybe before you require ReactHowler,  you should check if `window` object is available.

[code]

[2016-02-14 17:03] corbifex commented on #8
I can make a workaround no problem, but I thought maybe you can or want to build it in by the module by default.

[2016-02-14 17:05] thangngoc89 commented on #8
Do you have any idea how to do it ?  PRs are welcome

[2016-02-14 17:10] corbifex commented on #8
I would say that your window solution can work inside initHowler() to prevent it from loading Howler on server side.

[2016-02-14 17:14] thangngoc89 commented on #8
Looks like a solution to me. Care to send a PR ?

This might be related https://github.com/goldfire/howler.js/issues/422

[2016-02-14 18:18] corbifex commented on #8
I want to but the problem I get now is that when `import { Howl } from 'howler'` is fired the error appears. But doing the window check there is not allowed. So either it needs to be solved in the howler module of in the index, I don't think solving it in the index.js is a nice solution.

[2016-02-14 18:24] thangngoc89 commented on #8
:+1: so add new file to resolve howler,  if we are in node, return undefined

[2016-04-05 04:08] thangngoc89 commented on #8
Close by #9

[2016-04-05 04:08] #8 closed

[2016-04-27 07:12] pfncfen opened #10 "Won't work when I try to change the audio src."
I wrote code like below in my web app

`<ReactHowler
          src={media[this.state.page].bgmUrl}
        />`

when I change the state like this:
`this.setState(
      {
        page: 3,
      }
    );`

the component won't work, it start to request hundreds of source mp3 files like this
![image](https://cloud.githubusercontent.com/assets/3774176/14844515/753936b0-0c8a-11e6-81d7-884d12351271.png)

[2016-04-27 08:07] thangngoc89 commented on #10
This looks like `media[this.state.page].bgmUrl` doesn't change after state changed. So howler.js downloaded the same file.

Could you add some log to make sure `media[this.state.page].bgmUrl` was changed ?

[2016-04-27 08:25] pfncfen commented on #10
`XMLHttpRequest cannot load http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8000' is therefore not allowed access.
DemoComponent.js?582c:49 Now the src url is http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3
localhost/:1 XMLHttpRequest

[2016-04-27 08:26] pfncfen commented on #10
Btw, I can still hear the sound even if the log tell me that XMLHttpRequest cannot load http://www.stephaniequinn.com/Music/Allegro%20from%20Duet%20in%20C%20Major.mp3. So I ignored this problem.

[2016-04-27 08:29] thangngoc89 commented on #10
This is a common problem with hot-linking resources from other websites. You should download these files to your server/ or have a proxy that download these files on the fly.

As you pointed out, `componentWillReceiveProps` make sure this kind of situation won't happen so I have no idea what may caused this.

[2016-04-28 03:36] pfncfen commented on #10
I've realized the requirement in another way
`this.state = {
      page: 0,
      playing: [true, false, false, false]
    }

<div className="audio-container">
          {media.map(function (item, i) {
            return (<ReactHowler key={"howler"+i}
                                 src={item.bgmUrl}
                                 playing={this.state.playing[i]}
            />)
          })}

[2016-04-28 04:09] thangngoc89 commented on #10
Thanks for investigating this. Please let me know if you find a solution for this

[2016-04-30 18:53] jgillich commented on #10
I have the same issue, changing the audio src causes the component to create infinite Howler instances.

[2016-04-30 20:28] jgillich commented on #10
[My simplified version](https://github.com/cloudfm/cloudfm/blob/f858014cce50da4992e55b904471f0403dd1bf01/app/src/components/Howler.tsx) of this component works as expected. I'm not sure why it doesn't here (maybe because I'm using the master version and not beta?), but I've noticed a few other things:

* `this.howler = null` will not null the instance, you check for truthiness of the passed value

[2016-04-30 23:31] jgillich commented on #10
`componentWillReceiveProps` triggers `howl.play()` twice, first via `autoplay` in `initHowler` and another time in `toggleHowler`, so you're getting two plays with a single src change.

[2016-05-01 14:19] thangngoc89 commented on #10
@jgillich I don't use this component anymore so I'm looking for maintainer. I'm happy to give you write access to this repo.

[2016-06-07 08:04] #10 closed

[2016-08-09 20:13] karlfloersch opened #13 "Autoplay causing auto-restart when `src` is changed and `playing=true`"
If you change the source while playing=true, and then you pause and play again, you will notice the song restarts every time that you pause and replay.

To fix this simply remove `autoplay` from `initHowler()`. It's not actually required because you call `toggleHowler()` right after which will handle "autoplaying" the track.

[code]

You can see a fork of the repo in which I made the change here:

[2016-08-10 09:51] thangngoc89 commented on #13
Thanks for pointing this out. I'll make a fix asap as well as install from github so you won't need to mess around with the repo

[2016-08-10 09:53] thangngoc89 commented on #13
Is there any solution to keep autoplay?

[2016-08-10 16:14] karlfloersch commented on #13
I think that autoplay actually still works in that if you set `playing=true` when the file is loading. It's just that it doesn't use the autoplay feature of Howler. Though I could be wrong about this, I'm not completely sure what Howler's autoplay does

[2016-08-10 16:24] thangngoc89 commented on #13
Do you think this is a Howler's bug? I dont understand howler codebase either

[2016-08-10 20:26] karlfloersch commented on #13
Honestly not sure. It definitely could be though but would require further investigation.

[2016-08-15 11:08] thangngoc89 opened #14 "Looking for maintainer"
I'm not using this package right now and I don't have anytime to maintain it. If you'd to do it, reply below and I'll grant you access to Github and npm

[2016-08-17 13:56] Stenerson commented on #14
@thangngoc89 I'd be interested in helping out/collaborating but I don't feel quite up to the task of taking over as the only maintainer.

Anyone else with me?!? :sweat_smile:

[2016-08-17 14:28] thangngoc89 commented on #14
@Stenerson thank you very much.

This package is in a very good shape right now, but there is bugs that need to be fixed. So the main task is fixing bugs and cut releases (follow semver).

If you have addition time, you might wanna to

- Update to latest howler
- Add all howler's methods

The rest is up to you.

Sounds good?

And what is your npm account ?

[2016-08-17 14:53] Stenerson commented on #14
@thangngoc89 Sounds mostly good... I'm excited to be able to help but it's all kinda new to me. I'll maybe still be needing your help for a while but I'm up to the task!

I'm `stenerson` on npm (just created an account 😂 )

[2016-08-17 14:57] thangngoc89 commented on #14
I'll add you to npm ASAP. You need that to cut a release, if you can automate the process (by using https://github.com/semantic-release/semantic-release) it would be super cool.

If you need anything, just ping me.

[2016-08-17 17:28] thangngoc89 commented on #14
@Stenerson Added you as a Collaborator on Github and npm

Check it with

[code]

[2016-08-27 15:37] #14 closed

[2016-08-27 21:38] Stenerson commented on #13
@karlfloersch, @thangngoc89
I've been playing around with this today and I can definitely reproduce what you're reporting. Through some console debugging, it seems that the seek position gets stuck on the first position that's paused no matter what you do.

Example:

1. Auto play first file
2. Switch src to a new file
3. Pause (`Pos === 1.5`)
4. Play (`Pos === 1.5` but audio actually restarts)
5.

[2016-08-28 13:55] thangngoc89 commented on #13
@Stenerson this looks like a howler bug than our wrapper. Could you file a issue in howler repository?

[2016-08-28 13:59] Stenerson commented on #13
@thangngoc89 That's what I thought at first too but my JSBin above basically replays exactly what we're doing in pure Howler and it seems to work fine.

That being said, I think I fixed the bug by not setting autoplay and just starting the audio after loading it. This is basically how Howler itself does autoplay so I don't see an issue with it.

[code]

Before committing I'd like to figure out **w

[2016-08-28 14:04] thangngoc89 commented on #13
Ah. Thanks for clarify that. I'm fine with the workaround. But if you can find out about the root of the problem that's awesome

[2016-08-28 14:33] Stenerson commented on #14
@thangngoc89, I sent an email to you at your npm email address about publishing updates. Can you take a look and get back to me when you have a chance?

Thanks!

[2016-08-28 14:34] Stenerson commented on #13
I've isolated the issue to be that we're calling `play()` immediately after invoking `autoplay`. If I don't call `play()` right after initializing, everything works great. I was also able to reproduce this in my (JSBin) as well by calling `play()` after auto starting.

I'm going to open a Howler bug but we can also play a little more nicely with Howler by changing `componentWillReceiveProps()` to

[2016-08-28 14:36] thangngoc89 commented on #13
Awesome !!

[2016-08-28 14:44] thangngoc89 commented on #14
Ouch. Sorry. I just saw your email. I'm writing an answer atm.

[2016-08-28 14:45] Stenerson commented on #14
No worries at all! I just don't want to break anything for y'all 😹

[2016-08-28 14:51] thangngoc89 commented on #14
Don't worry. If you broke the package on npm, you dist-tag latest to a previous version of it

https://docs.npmjs.com/cli/dist-tag

[2016-08-28 19:12] #13 closed

[2016-08-29 16:56] Stenerson commented on #13
FYI - Opened goldfire/howler.js#107

[2016-10-25 13:44] thangngoc89 opened #20 "Use create-react-app for the example"
create-react-app is the new trend for making small sites and example with React.js. By using that, we can simplify our example a lot. Any thoughts?

[2016-10-25 14:43] Stenerson commented on #20
I'm in favor of this

[2016-11-05 19:58] Stenerson commented on #20
Check out PR #21

I think it addresses our goal here but I'd welcome feedback if you think further changes would help.

[2016-11-17 14:28] #20 closed

[2016-11-23 08:42] ascii-husky opened #22 "Setting props.playing false during load doesn't prevent autoplay after loading"
Not sure if this is a bug. Because of my architecture i add the component always with playing=true in the initial render and set it to true/false in componentWillMount depending on the value of a cookie. This doesn't work if the cookie value is false.

[2016-11-23 18:12] Stenerson commented on #22
Does it work as expected if you do the opposite? (Not sure if this is possible in your implementation but without looking into it that's my first thought.)

- Start with `playing={false}`
- Update in `componentWillMount()` depending on cookie

Also, just another side thought - what happens if you move it into `componentDidMount()`?

[2016-11-24 11:04] ascii-husky commented on #22
Thanks for your help.

I want audio playing=true as a default, so I have it set as true in my initial redux store. But if the user set it to false in a earlier session a cookie is set. To fix my problem I could read the cookie before mounting the component.

But setting the prop value to false at any time should preventing the audio from playing, imho. As I said I'm not sure if this a bug. I'll cl

[2016-11-24 13:26] Stenerson commented on #22
@ascii-husky,
I agree that it should never play if the prop is set to false.

I modified our example AutoPlay component with hopes to reproduce this but it worked as expected for me. I've pasted the entire component below. Could you let me know what you're doing differently?

Thanks!

[code]

[2016-11-25 15:36] ascii-husky commented on #22
If you set the state to false in componentDidMount it will fail. Maybe you have to test it with a bigger audio file or throttle your network speed.

[2016-11-25 16:10] Stenerson commented on #22
You're right @ascii-husky, I can reproduce this by throttling my network way down and setting my local playing state to false in `componentDidMount()`. If I set the state to false in `componentWillMount()` it does not display the behavior (i.e. it works as expected).

When we set the playing state to false in `componentWillMount()` autoplay will never be started but if we do it in `componentDidMou

[2016-11-26 19:40] Stenerson commented on #22
I couldn't help myself from looking into this a little further.

If howler receives a call to `pause()` before the audio is loaded it puts the command into an internal queue to be run after loading has completed. The issue is that they are checking for autoplay after the queue has been unloaded. This means that the audio will be paused (even though it hasn't started yet) then it will be played.

S

[2016-11-26 20:43] Stenerson commented on #22
I did verify that we can work around this issue altogether by calling `play()` rather than setting `autoplay` when initializing.

Functionally this should be identical, except for this specific issue. I believe this to be a bug, not a feature in Howler, so I'm going to reopen this and fix it with a hotfix release.

[2016-11-27 18:33] #22 closed

[2017-01-18 14:38] ashwin31 opened #25 "update dependencies"
Hi @thangngoc89 can you update dependencies as i see few are old https://www.versioneye.com/nodejs/react-howler/3.4.0

[2017-01-18 15:57] thangngoc89 commented on #25
@ashwin31 Thank you
@Stenerson do you have time to do the update? I suggest you use semantic versioning: `howler: "^2.0.0` this would prevent us from having this kind of issue

[2017-01-18 16:05] Stenerson commented on #25
Yes, thanks @ashwin31 & @thangngoc89!
I must have accidentally removed the caret from howler when I updated it to 2.0 a while back and it's been a while since I've updated the dev dependencies.

I'll release an update soon. I assume this just calls for a patch release -`3.4.1`?

[2017-01-18 16:09] thangngoc89 commented on #25
@Stenerson yup. This is def a patch

[2017-01-19 14:07] #25 closed

[2017-03-24 07:39] taikongfeizhu opened #27 "react-howler can't config 'preload'"
sometimes, we don't nedd preload the audio when I use this on the mobile or some low speed internet, it need add： props.preload = false

[2017-03-28 01:39] #27 closed

[2017-03-28 20:36] Stenerson opened #29 "Demo Page Not Updating"
@thangngoc89 - I'm having some issues getting updated examples to publish to the github pages demo site. Quite honestly, to me, it was always a little magical how it worked. This might have broken with my changes in c89c101 but I'm not sure. It was working as recently as 901cb58. Would you have any time to help me get this working again?

Thanks!

[2017-03-30 08:55] rockyasante opened #30 "Does not player when props change"
Ideally, ReactHowler should automatically stop and reset itself when  new props are passed and ComponentDidUpdate method is called.

I may be missing something, but its no stated in your docs on how to pass in new src for howler.

[2017-03-30 13:10] Stenerson commented on #30
Hi @rockyasante,
We do [actually](https://github.com/thangngoc89/react-howler/blob/master/src/ReactHowler.js#L15) destroy the Howler instance and re-initialize when the src prop changes.

[code]

You're 💯 correct that the docs should be more clear on this. I'll leave this open until I have a little time to update the docs (and maybe create an example with the source changing).

[2017-03-31 10:20] rockyasante commented on #30
Thanks @Stenerson , I saw that bit of code after writing the this. However it does not actually work,  maybe it is done by design to allow us to do what we want with the player. Ideally, it should play automatically without us doing much to it. Considering that this will only be used as a "dummy" component that will only play a URL.  Also currently there is not an outstanding react music player an

[2017-03-31 11:53] Stenerson commented on #30
Hi @rockyasante, It should be working as I described - if it's not it may be a bug. I threw together a quick example component that uses react-howler to switch sources on the fly and it is working as expected for me. I'll add this as an example to the demo site once I can work through #29. For now, I'll include it below.

Keep in mind also that the file needs to load before it plays. Large files c

[2017-04-01 14:50] Stenerson commented on #29
I was able to get this figured out with a little playing around this morning. Turns out that the "dist" directory changed when we switched to `create-react-app`. 😥  Should be all set now!

[2017-04-01 14:50] #29 closed

[2017-04-01 15:25] #30 closed

[2017-04-01 15:29] Stenerson commented on #30
@rockyasante Feel free to reopen this if you're still having issues or have suggestions to improve the doc.

Happy howling! 🐵

[2017-04-02 20:35] Stenerson opened #32 "Examples don't work in Safari or Safari Mobile"
The example sounds are `ogg`s which are [apparently not supported by Safari or Mobile Safari](https://developer.mozilla.org/en-US/docs/Web/HTML/Supported_media_formats) - somehow I never noticed this until now. We should choose some example audio clips that work across the three major browsers. Probably use Howler's example sounds if possible.

[2017-04-03 14:37] rockyasante commented on #30
Mate, the issue was html=true for streaming files. Is all in your docs, it works nicely. Great work!

[2017-04-03 15:16] ravigadila opened #33 "React-native support?"
Does this library support react-native in any way? Do you plan to support react-native in future?

[2017-04-04 12:48] Stenerson commented on #33
That's a good question @ravigadila. Other than a few hello world apps I made out of curiosity, I haven't really used react-native.

I looked around the web a bit to see if Howler.js was being used in other react-native libraries. I did find [this issue](https://github.com/jsierles/react-native-audio/issues/85) on another project where someone is using Howler.js (not related to said project) inside

[2017-04-04 13:12] ravigadila commented on #33
Thanks for quick reply @Stenerson. We already using `react-howler` in our online streaming react based web app It works great.

We started mobile app in react-native for the same site. I don't want to use `<WebView>`. I expected Platform(Ios/android) specific implementation of howler.js.

[2017-04-04 13:12] #33 closed

[2017-04-07 01:53] #32 closed

[2017-04-07 02:00] Stenerson commented on #32
If it's not working for you, and you end up here. Make sure your phone isn't on silent! 😂

Safari not supporting `ogg` **was** the original issue but I was seeing some really odd behavior, even after adding the mp3s. It turned out that my phone was on silent. Need more ☕️ I guess!

[2017-04-11 12:14] Stenerson opened #34 "Fix deprecation warnings in React 15.5"
I haven't actually run this yet but I know we'll get warnings for using React.PropTypes

The goal here is to:
- Update the examples to `15.5.x`
- Make sure there are no warnings in development mode

[2017-04-12 00:43] #34 closed

[2017-05-28 10:45] sAs59 opened #36 "Can't play sound before component unmounts"
`componentWillUnmount() {
    this.player.howler.play()
  }`

[2017-05-28 12:38] Stenerson commented on #36
`play()` actually does get called but then the sound is immediately destroyed (and thus will not play) when the `ReactHowler` component is unmounted:

[code]

I'm not sure if it's possible to change this behavior. Since ReactHowler itself is probably being unmounted in your example I think the sounds that it owns will be dereferenced and marked for garbage collected anyway.

Can you help me unders

[2017-05-28 12:54] sAs59 commented on #36
I wanted to make sound effect when moving from one component to another. Thought componentWillUnmount is the place where I should play sound. But, now I realized, it can be done in componentDidMount of another component.
Sorry...

[2017-05-28 12:54] #36 closed

[2017-05-28 12:59] Stenerson commented on #36
No worries! `componentDidMount` would be a good place, as long as the sound file is preloaded or cached. If that's not the case you may want to place ReactHowler somewhere else in your component tree or just use Howler directly somewhere in your app to allow for better Howl lifecycle control.

Happy Howling! 😎

[2017-05-28 14:52] sAs59 commented on #36
@Stenerson  Could you, please, give a little help? I just want to use play method of howler.  So, how can I make reusable function for playing sound from any component?  Like:
[code]
Instead of it, for playing sound, i have to: import 'react-howler', get reference of it and then call play.
[code]
Thanks!

[2017-05-28 15:09] thangngoc89 commented on #36
@sAs59 Please refer to this sample example for more information https://github.com/thangngoc89/react-howler/blob/master/examples/react/src/players/AutoPlay.js

You need to change playing from `false` to `true` and Howler will play it for you. Only use ref if you need to access Howler instance.

[2017-05-28 15:18] sAs59 commented on #36
@thangngoc89 Saying sounds I mean 1-2 sec sfx sounds. I'd like to play sound on every mouse click.

[2017-05-28 15:29] thangngoc89 commented on #36
@sAs59 I think you should use howler.js directly, you'll have more control. https://github.com/goldfire/howler.js/ (look for audio sprites)

[2017-05-28 15:32] sAs59 commented on #36
@thangngoc89 ok, thanks.

[2017-06-09 19:44] TrevorHinesley opened #37 "Play/pause/seek actions are adding another sound to the Howl instance"
As the title suggests, if I change the `playing` prop, or call `this.reactHowlerRef.seek(position)`, etc., it's adding another sound to the Howl instance, which causes all sorts of audio madness.

[2017-06-09 20:34] TrevorHinesley commented on #37
This works with howler 2.0.2, but the latest release breaks it.

[2017-06-12 14:30] Stenerson commented on #37
Thanks for reporting @TrevorHinesley! Can you try with [`2.0.4`](https://github.com/goldfire/howler.js/releases/tag/v2.0.4)? It looks like a number of defects were addressed in this release.

[2017-06-18 02:00] Stenerson commented on #37
@TrevorHinesley, are you still experiencing this?

[2017-06-21 08:47] FutureKode opened #38 "Examples do not play sound on ipad"
Hello,

On my ipad there is no sound when playing the examples [here](https://khoanguyen.me/react-howler/)

This is my browser details http://whatsmybrowser.org/b/XDZORXU

[2017-06-21 13:37] thangngoc89 commented on #38
I can configrm this. Doesn't work on my iPad too (and probably others iOS devices with the same iOS version).

[2017-06-21 13:41] thangngoc89 commented on #38
@FutureKode could you test on https://howlerjs.com/ (just play any example) ?

[2017-06-21 13:43] thangngoc89 opened #39 "Use fixed howler version"
After a quick look via commit history of howler.js. I can say that they don't follow semver. So I suggest we use a fixed version of howler to avoid weird bug like #37 .

What do you think @Stenerson ?

[2017-06-21 13:56] FutureKode commented on #38
@thangngoc89 Hi, I tested the demos on howlerjs.com and they work on my ipad.

[2017-06-21 15:12] Stenerson commented on #38
Thanks for reporting @FutureKode. This is working on my iPhone in both Safari and Chrome on iOS 10.3.2. I don't have an iOS 9 device with me at the moment but I'll be able to check this later in the day. Stay tuned...

[2017-06-21 15:15] Stenerson commented on #39
I think that probably makes sense. Do you have a version in mind? Should we lock on `2.0.2` for now and upgrade periodically with new react-howler changes (including testing the newly upgraded version of howler before updating)?

[2017-06-21 16:07] thangngoc89 commented on #39
@Stenerson I'm not sure which version we should use. How about fixing #38 and use the current version?

[2017-06-21 16:12] Stenerson commented on #39
Sounds like as good a plan as any! 👍

[2017-06-21 16:17] thangngoc89 commented on #38
@Stenerson hum. Seems like this is a iPad stuff. My iPad is using iOS 10.3.x

[2017-06-21 16:22] Stenerson commented on #38
😱 The examples are working on both of my iPads in Safari and Chrome (as well as my iPhone)
- iPad 3 - iOS 9.3.5
- iPad Pro 10.5" - iOS 10.2.3
- iPhone 7 Plus - iOS 10.2.3

Any ideas?

[2017-06-21 16:28] thangngoc89 commented on #38
I just test again and now it's working on my iPad Mini 3 - iOS 10.3.1

Maybe this has something to do with the fact that the audio needs to be fully loaded before howler.js can start playing it?

[2017-06-21 16:37] Stenerson commented on #38
It could be. There's no UI in the examples that indicates loading status (an example problem, rather than a howler or react-howler problem). I'm sure you know, but it's worth reiterating for people who find this issue - Howler does queue calls to `play` (and other methods) and will execute them once the sound is loaded. So it should play, it might just be delayed for longer than you'd expect.

Mos

[2017-06-21 17:27] FutureKode commented on #38
@thangngoc89 @Stenerson Hi guys, I plugged in my ipad (ipad mini version 1, late 2012), and inspected the reacthowler.js examples page.... nothing in console. All the assets seem to load fine in the network tab.

I have had the page open and then waited for minutes before trying to click play but still no sound.

The 'full control' example shows the status playing along but still no sound.

I can

[2017-06-22 10:56] FutureKode commented on #38
@thangngoc89 @Stenerson Hi guys, i just checked the examples on another iPad (mini version 2 iOS 10) and their were no problems. It seems the issue is related either to older iPad's running iOS 9... or just a strange issue with my iPad! how strange!

[2017-06-22 13:01] FutureKode commented on #38
Guys, I'm terribly sorry, my iPad was muted 😊

[2017-06-22 13:01] #38 closed

[2017-06-22 17:38] Stenerson commented on #38
No worries @FutureKode, it happens to the best of us! 😄
Thanks for following up.

[2017-06-26 00:55] TrevorHinesley commented on #37
I haven't tried with the newest version, been slammed! Sorry :/

[2017-07-24 13:26] crlssn opened #45 "onEnd is not fired on partially downloaded base64 encoded audio when html5 is enabled"
I'm preloading a partially downloaded audio file, encoding it in base64 and then playing it through Howler. It plays fine, but the `onEnd` method is not fired once the audio has ended. (Setting `html5` to `false` fixes it, but it will make the web page crash on iOS instead.) The reason why `onEnd` doesn't fire I suspect is because it assumes the duration of the full audio file and not the partiall

[2017-07-24 18:04] crlssn commented on #45
Update: Setting `html5` to `false` does not fix it in Safari (tested in both desktop and mobile), it does fix it in Chrome however. It does not make the web page crash in iOS either - I think that was a different issue which occurred when I generated the base64 data client side instead of server side which I'm doing now.

[2017-07-24 20:11] Stenerson commented on #45
Hi @crlssn, thanks for reporting.

My hunch is that this is a howler.js issue. Could you try to reproduce in JSBin using just howler? You can use [this bin](http://jsbin.com/xajoxat/edit?js,console,output) as a starting point. The base64 data you provided makes the bin too large to save but you can paste it in and change the source to play it.

Both sounds seem to be working for me in Chrome in th

[2017-07-28 15:19] Stenerson opened #46 "React 16"
Looking for feedback on the best way to support React 16.

I've seen a few libraries use
[code]

We could also add more "ors"
[code]
Note: this doesn't cover the betas but we could add those as well.

Thoughts on the correct approach? Is support for React 0.14 still needed?

[2017-07-28 15:21] Stenerson commented on #46
Thinking out loud: There's probably no reason to drop support for React 0.14 until we use features/apis that are not available in that version (probably never).

[2017-07-28 17:30] thangngoc89 commented on #46
@Stenerson actually, I see a few libraries just drop the peerDep requirements entirely. Since some people might want to use the component with something like preact-compat or inferno-compat. And we're using public API only so I think it's safe to drop the peerDep. Thoughts?

[2017-07-30 19:45] Stenerson commented on #46
That's an interesting option @thangngoc89 - I hadn't even thought of that as a possibility. Would we keep React in devDependencies then or remove it entirely?

[2017-07-30 22:48] thangngoc89 commented on #46
@Stenerson we should keep the devDependencies. It won't be installed on user's end and we need it for development anyway

[2017-08-23 08:43] llyer opened #47 "why this.player is null ?"
![image](https://user-images.githubusercontent.com/16920929/29606743-c890e916-8821-11e7-8c3c-864e07ca6d54.png)
![image](https://user-images.githubusercontent.com/16920929/29606781-e3b99efe-8821-11e7-9921-a33ce75aaab5.png)
![image](https://user-images.githubusercontent.com/16920929/29606798-e9edaee6-8821-11e7-8ddc-efdc52db2ff6.png)

this.state.playing can control the music but this.player is null !

[2017-08-23 08:59] llyer commented on #47
sorry， i forget bind(this)

[2017-08-23 08:59] #47 closed

[2017-09-03 12:32] Stenerson commented on #45
Hi @crlssn, any update on this? I’m thinking about closing since there’s nothing actionable at this point but wanted to check with you first. Thanks!

[2017-09-03 12:37] crlssn commented on #45
Sorry, yes you can close this issue. We decided on a different approach for now. Thank you though, and great work on this package!

This happens for me to, but since the new file only was a few seconds long this was not feasible. I would guess that i somehow reads the meta data instead of the content.

[2017-09-03 12:39] #45 closed

[2017-09-26 18:20] Stenerson commented on #37
@TrevorHinesley, I'm going to close this for now. If you're still having issues after trying with another Howler version, please reopen.

[2017-09-26 18:20] #37 closed

[2017-10-06 11:32] Skit opened #48 "Get information about the error?"
How do I get information about the error?
`  <ReactHowler`
                    `    src={this.state.stream.src}`
                       ` onLoadError={this.handleOnLoadError}`
                       ` onLoad={this.handleOnLoad}`
                       ` onPlay={this.handleOnPlay}`
                        `preload={false}`
                        `playing={this.state.isPlay}`

[2017-10-06 13:08] Stenerson commented on #48
Howler will execute this callback with a string parameter explaining the error.

Try this in your code:
[code]

You can see the possibilities in the Howler code itself if you search for `loaderror`.

Some examples:
[Line 587](https://github.com/goldfire/howler.js/blob/92dc9d6cdb3ab3d83c3a8f41c145d6751b01c13e/src/howler.core.js#L587)  `self._emit('loaderror', null, 'No codec support for selected au

[2017-10-07 10:03] Skit commented on #48
Thanks!

    handleOnLoadError(message){

        if(message !== null){ /* */
}
I get the call twice (when have an error and not), probably that`s ok.

[2017-10-12 16:58] #48 closed

[2017-10-14 14:16] #39 closed

[2017-10-14 14:16] #46 closed

[2017-10-14 15:19] tomohisaota opened #49 "Does React Howler support howler spatial plugin?"
I am using React Howler, and trying to use stereo method of howler.
I save reference to _audioPlayer variable, and I can play audio by calling _audioPlayer.play() method.
But calling _audioPlayer.howler.stereo(1.0) does not seem to have any effect.
Audio source is in stereo MP3 format.

Stereo function is provided by spatial plugin.
Can I use spatial plugin with React Howler?

[2017-10-16 03:11] Stenerson commented on #49
To be honest I've never used to the spatial plugin and don't know anything about it other than reading through its example code.

We don't have any of the spatial methods or properties built in but you should be able to access them using the `howler` property as [shown in the readme](https://github.com/thangngoc89/react-howler#other-howlerjs-methods). I'm not sure if this will work well for your u

[2017-10-16 11:27] willowTank commented on #32
I met such problem So did you fix by using MP3

[2017-10-16 11:30] Stenerson commented on #32
Yes, take a look at the example sources. I’m now using both MP3 (for most browsers) and (ogg) for Firefox.

[2017-10-16 12:52] willowTank commented on #32
Thanks for your replay

[2017-10-16 12:54] willowTank commented on #32
I want to play it on Android Browser but I cann't do it.

`<ReactHowler src= "/sounds/lost.ogg" playing={this.state.isPlay===3}  ref={(ref) => (this.lostPlayer = ref)}/>`

[2017-10-16 14:44] Stenerson commented on #32
Do [the examples](https://khoanguyen.me/react-howler/) work on that browser? Are you getting any errors in the console?

[2017-10-17 02:33] tomohisaota commented on #49
Thank you for the advice. I will give it a try.

[2017-10-17 02:33] #49 closed

[2017-11-02 07:24] daiyang123456 opened #50 "props（ preload and playing）"
react-howler is a React.js wrapper for howler.js (audio player)；

when both preload and playing are false，error will happen；

[2017-11-06 19:32] Stenerson commented on #50
Hi @daiyang123456,
Can you provide more details? [One of the examples](https://github.com/thangngoc89/react-howler/blob/master/examples/react/src/players/NoPreload.js) has both preload and playing set to false on initial load and I'm not seeing any errors.

Live examples here: https://khoanguyen.me/react-howler/

[2017-11-10 17:33] Stenerson commented on #50
@daiyang123456, I'm going to close this for now. If you have more details please reopen. Thanks!

[2017-11-10 17:33] #50 closed

[2017-12-06 21:00] rifkegribenes opened #51 "How to make same sound initiate multiple times (overlap) on user input?"
I'm preloading all my sounds by mapping over an manifest of sound urls and rendering a `<Howler />` for each one, setting the `src` for each component from the manifest. I'm setting the `playing` prop as `this.state.playing.includes(sound.id)`, so that I can have more than one sound playing at a time. When user input triggers `playSound()` I'm pushing that sound's `id` into the `playing` array and

[2017-12-08 15:19] Stenerson commented on #51
Hi @rifkegribenes,

I put together a quick example of the way I'd probably do overlapping sounds with a single ReactHowler instance. The trick is to call the howler method play() (vs. the ReactHowler method). In my example I'm keeping track of the IDs so I can stop each one individually. If you don't need to do that you could simplify the example even more.

[code]

[2017-12-11 05:23] Stenerson commented on #51
I'm going to close this off. Please reopen if more discussion is needed.

[2017-12-11 05:23] #51 closed

[2017-12-28 18:54] aljomori opened #52 "Google Chrome deprecation warnings"
Deprecation] GainNode.gain.value setter smoothing is deprecated and will be removed in M64, around January 2018. Please use setTargetAtTime() instead if smoothing is needed. See https://www.chromestatus.com/features/5287995770929152 for more details.

Hi, howler.js fix that in version 2.0.6 so i think that just a package upgrade will be enough... ;)

[2017-12-29 17:56] #52 closed

[2017-12-29 18:43] Stenerson opened #55 "Chrome deprecation warning (AudioParam)"
This is waiting on an upstream fix. See: goldfire/howler.js#856

I'm still getting the following deprecation warning with Howler.js `2.0.7`

`[Deprecation] AudioParam value setter will become equivalent to AudioParam.setValueAtTime() in M65, around March 2018  See https://webaudio.github.io/web-audio-api/#dom-audioparam-value for more details.`

[2018-01-03 05:55] Stenerson commented on #55
Update: This has been fixed in howler.js `master`. Just waiting for a new release. Should be out shortly in `2.0.8`.

[2018-01-03 14:41] Stenerson opened #59 "Document `seek` prop and add to PropTypes"
`props.seek` is not properly documented or included in the PropTypes.

Bonus: Add a seek example, possibly in the `FullControl` example.

[2018-01-23 14:21] #55 closed

[2018-03-28 16:25] Ixeso opened #63 "Support onseek function"
Add the onseek function event like in the documentation from howler.js
(helpfull to make a clean progress bar)

[2018-03-29 13:42] thangngoc89 commented on #63
@Ixeso PR is welcome to implement it. Should be pretty easy

[2018-05-17 13:09] greenkeeper[bot] opened #67 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/thangngoc89/react-howler/compare/master...thangngoc89:greenkeeper%2Fupdate

[2018-06-28 18:31] PEZO19 opened #68 "Using with react-router v4: sound is not played without explicit refresh"
I have a weird bug and I have not idea how is it possible.

I am creating a game and I use react-howler for it. Until this point I haven't used parameters in my route, but I do now, and when I do it seems the .mp3 assets do not load properly.

The scenario is this:

1. I visit to /app_eng (the route without parameter),
2. I click the PLAY button which drives me to /game on client.
3. I start click

[2018-06-28 18:33] thangngoc89 commented on #68
If you can make a reproducible test case, I would be appreciated. Otherwise, this is just insane to debug.

[2018-06-28 18:46] PEZO19 commented on #68
Okay, if I don't get any solution on other forums I will create it.

[2018-06-28 22:39] PEZO19 commented on #68
Sorry it turned out it is not related to react-howler.

[2018-06-28 22:39] #68 closed

[2018-11-03 19:03] w-biggs opened #72 ".seek() returning Howler object"
This is the code I'm working with:

[code]
Logged to the console is:
`Howl {_orientation: Array(3), _stereo: null, _pos: null, _pannerAttr: {…}, _onstereo: Array(0), …}`

Am I doing something wrong? I'm following the docs as far as I can tell...

[2018-11-03 22:29] w-biggs commented on #72
It seems to work correctly if I set `html5={true}` on the component. Hm.

[2018-11-04 21:43] StephenGrable1 commented on #38
+1 for un-muting your mobile devices 👍 🤦‍♂️

[2018-11-13 02:55] greenkeeper opened #73 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `devDependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing branch](https://github.com/thangngoc89/react-howler/compare/master...thangngoc89:greenkeeper%2Fmonorepo.react-16.6.

[2019-01-11 04:35] fidellr commented on #72
yeah me too, sometimes i got Howler instance from `seek()` although i used `html5` props too

[2019-01-15 14:33] Stenerson commented on #72
Hello,
Are you getting Howler objects returned right away or after some time?

It looks like Howler does return itself when calling `seek()` in a number of instances, most notably, if the sound is not loaded.

From: https://github.com/goldfire/howler.js/blob/9ad4eb1a973ca6faeef476315e39e938bf1547eb/src/howler.core.js#L1535

[code]

[2019-01-22 20:41] maksimovicdanijel opened #75 "Typings for TypeScript"
Hi,

thanks for great library 👍 I'm using React Howler in a TypeScript project and types for this lib are missing. I'm wondering would you accept a PR that would add `index.d.ts` file with typings? If not that's ok too, I can add those in DefinitelyTyped project. @thangngoc89 thanks!

[2019-01-27 20:09] #75 closed

[2019-01-28 15:33] Stenerson commented on #75
Thank you for the consideration @maksimovicdanijel. I agree with @thangngoc89's take on this. I'd also be concerned taking this on since I don't personally use TS at this time. This library is quite small, doesn't change too often (especially from an API standpoint) and as @thangngoc89 said, has been stable for a long time.

Also, sorry for the delayed response. I need to figure out my gmail setti

[2019-02-06 21:07] SebastianGerS commented on #72
I'm experiencing the same problem but only after upgrading to v.3.7.4 of react-howler it does not seem to be an issue in 3.7.3

[2019-02-13 14:48] Stenerson commented on #72
@SebastianGerS can you check if your version of Howler changed? The only change from `3.7.3` to `3.7.4` was removing the pinned version of Howler.

If you pin a previous version of Howler in your project does it fix the  issue?

It's probably also worth mentioning that this issue was opened before `3.7.4` was cut.

[2019-02-16 17:05] mfigurski80 opened #76 "onLoad doesn't trigger on load"
Howler ref is recognized, and after mounting console does print out 'loading' as expected. However, the function stored in this.howler.onload does not trigger -- the console does not print 'Howler loaded'

Here's my method. Note that this.howler is a ref to the ReactHowler component:
`  componentDidMount() {
    if (this.howler) { // if ref is functional...
      console.log(this.howler.howlerStat

[2019-02-16 17:08] mfigurski80 commented on #76
Not a ref function, onLoad is a prop you put into the element.

[2019-02-16 17:08] #76 closed

[2019-02-18 21:51] SebastianGerS commented on #72
Ok so I looked in to it a bit more and it seam like it's happening in 3.7.3 aswell.
I experienced it now after upgrading to 3.7.4 but when I think about it i probably did experience it when I first started to use it as well I just worked around it (but obviously not entirely). When downgrading to 3.7.3 the problem persists it's only that i'm not experiencing it in all circumstances.

The problem s

[2019-05-03 09:38] Tobska commented on #72
This is weird because it still returns the said object even when the .howlerState() is 'loaded'.

[2019-10-17 00:21] jaredbuttars opened #80 "Cannot read property 'playing' of undefined"
I'm using react-howler in a typescript project. I get the error "EventName:TypeError: Cannot read property 'playing' of undefined" when the _handlePlay method is invoked.

@types/react-howler is installed for typings.

It looks like the `require('./howler')` in ReactHowler.js isn't loading correctly as `_howler4` and consequently `this.howler` are undefined throughout the ReactHowler.js script.

I

[2019-11-22 06:56] plog opened #81 "100% CPU in /react/src/players/FullControl.js"
Hi,

In [FullControl.js ](https://github.com/thangngoc89/react-howler/blob/master/examples/react/src/players/FullControl.js ) I noticed that the :
`handleOnPlay + renderSeekPos() + this.setState `
loop is consuming lots of CPU

setState() does cause the element to render

[2020-01-12 18:47] rchrdnsh opened #82 "Is this compatible with hooks?"
Hi,

Can this package be used with and/or is compatible with react hooks? Is there anything in the package that is dependent upon class based components?

thank you :-)

[2020-01-20 15:56] barnardnicholas opened #83 "Accessing other Howler methods..."
Hi, I love the library and I have the basic functionality working but I'm confused by some of the docs.

I'm trying to access the "stereo" method of a Howl by following the example given in the readme, under "Other howler.js methods" (pasted below), but I get errors from React when I try to do anything with this.player.howler (Not recognised as a method, "expected assignment or function call..., e

[2020-02-01 22:54] greenkeeper[bot] opened #84 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.18.0` to `7.18.1`.

🚨 [View failing branch](https://github.com/thangngoc89/react-howler/compare/master...thangngoc89:greenkeeper%2Feslint-plugin-react-7.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

esl

[2020-02-05 16:49] etherwizard opened #85 "Component lifecycle event warning from React 16"
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDerivedStateFromProps. Learn more at: https://fb.me/react-der

[2020-02-06 14:44] alessandropisu opened #86 "Audio doesn't work on iOS"
Hi everyone.
Chrome on iPhone doesn't start music automatically, i need to stop and start again. Is possible?

[2020-02-07 20:00] webpty commented on #86
@alessandropisu, just as Safari did a while back, you now need user interaction on the page before playing sounds on Chrome. It's not actually an issue with react-howler.

---
#### Docs:
https://developers.google.com/web/updates/2017/09/autoplay-policy-changes

---
#### My solution:
I've implemented a small welcome message with an "OK" button to force that initial interaction.

[2020-02-29 14:37] #86 closed

[2020-02-29 14:41] #72 closed

[2020-02-29 14:46] Stenerson commented on #80
@jaredbuttars, I know it's been ages... (sorry!) were you able to resolve this? I'm scratching my head a bit wondering why you might be getting this error. 🤔

[2020-02-29 14:48] Stenerson commented on #82
👋 @rchrdnsh to be honest I'm not sure but it seems like using class components is still supported when using hooks and there are no plans to not support this. Are you having a specific issue using this component with hooks in your project?

[2020-08-14 13:08] #85 closed

[2020-08-14 13:38] #82 closed

[2020-08-14 13:39] #80 closed

[2020-08-14 13:39] #81 closed

[2020-08-14 13:41] Stenerson commented on #81
Closing this as I'm doing a little housekeeping. The FullControl player has some inefficiencies to be sure. If you want to update by moving `raf` into a subcomponent that only handles the seek position, I'd be happy to review and merge. For now I'm going to just leave is as an imperfect example of how the component might be used.

[2020-08-14 14:23] Stenerson commented on #83
Hey @barnardnicholas,
I had some notification issues and have been busy with some other stuff since you posted this (sorry it's been ignored for so long). Did you end up getting this figured out or is it still an issue?

I'm going to close this but if you're still having issues can you maybe mock up one of the examples with where you're getting the error. I'd be happy to check it out. ✌️

[2020-08-14 14:23] #83 closed

[2020-09-25 23:06] iakindev opened #99 "Switch to TypeScript"
So, it is no secret that this package lacks TypeScript support. Yeah [@types/react-howler](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-howler) exists but most of the time it's out of sync.

Also with this switch we can directly cast react-howler's props to howler and use the types from [@types/howler](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/typ

[2020-09-26 14:42] Stenerson commented on #99
I'm not opposed to adding TypeScript support, I've just never used it and – nothing against TypeScript – but I don't have the time or desire to learn it right now.

What's involved in adding support? I'm mostly just not sure how I can support it without understanding it. 🤷‍♂️ Ideas very much welcome.

[2020-09-26 21:44] iakindev commented on #99
Adding support involves creating d.ts files that have same names with js files and declare the types in them.

For instance, you need to create app.d.ts for app.js in same directory (you can place them in separate folder though).
Then all you need to do is declare types for functions, classes with **declare** keyword.

These links should give you brief information about d.ts:
- https://stackoverfl

[2020-09-27 16:27] Stenerson commented on #99
Thanks for the resources @iakindev. Unfortunately this just isn't something I'm going to be able to help much with... I'd happily accept a PR (especially if the TS definitions can be kept apart from the actual source to avoid source churn) but I would need community help with validation of the PR because like I said, I don't have the time or interest to learn this to a level where I'd be comfortab

[2020-09-29 15:02] laurpantelimon opened #100 "Cannot set volume on Safari, iPhone or iPad"
I cannot set volume on Safari, on either iPhone or iPad. Any ideas?

[2020-09-29 15:22] Stenerson commented on #100
Is the example page working for you? As silly as it may sound, there have been multiple issues in the past where the mute switch is flipped, causing issues - could that be the case?

I just tried the example page on both of my iOS devices (iPad & iPhone each running iOS14) without any issues.

[2020-09-30 07:58] laurpantelimon commented on #100
Yes, the problem is that I cannot mute it, not that it doesn't play. Also, the volume change does nothing.

[2020-10-01 12:41] Stenerson commented on #100
Do the music player and basic function demos on https://howlerjs.com/ work for you? There's a volume slider on the music demo and a mute & volume test on the basic functions / core tests.

[2020-10-24 02:49] bundit commented on #59
I think the logic behind having seek as a prop is flawed. Just by passing the current seek position to the ReactHowler component creates circular logic.

I.E. ReactHowler plays => changes seek => changes props => ReactHowler seeks => changes seek => changes props ... etc.

I tried modifying the FullControl example to be sure and it makes the audio stutter.

[2020-10-26 12:54] Stenerson commented on #59
I think you're probably right @bundit. Do you have an alternative design suggestion?

[2020-10-26 22:04] bundit commented on #59
I think it's fine exposing the seek method through the player ref as is, similar to other react media players (ex: [react-player](https://www.npmjs.com/package/react-player)) but the seek prop should probably just be removed. Then I could add seek control to the FullControl example.

[2020-11-02 23:35] bundit commented on #59
What do you think @Stenerson?

[2020-11-03 12:28] Stenerson commented on #59
Yeah, I think this makes sense @bundit. Removing the seek prop would be a breaking change of course, but I guess I'm not opposed to cutting a `5.0.0` for it. It's just a number, right? 😅

Sounds like you're working on a PR 👍 I like it

[2020-11-14 17:42] #59 closed

[2020-11-24 20:54] trivedi opened #104 "Upgrade howler"
Howler 2.2.0 doesn't function properly on iOS 14 and MacOS. Context:

Reported in Issue [1407](https://github.com/goldfire/howler.js/issues/1407)
Fixed in PR [1415](https://github.com/goldfire/howler.js/pull/1415)

A fix has been added to Howler 2.2.1.

Please upgrade.

[2020-11-24 22:17] Stenerson commented on #104
@trivedi we're [using a caret](https://github.com/thangngoc89/react-howler/blob/09e56d7f6ad48cb06e1bde6cf10311e4faf4996a/package-lock.json#L2648) (`^`)  so you should be free to include `2.2.1` in your application, no worries.

You can update the dependency without having to explicitly requiring howler yourself by running
`npm install react-howler@latest`

[2020-12-01 04:35] #104 closed

[2021-04-15 08:32] WoolDoughnut310 opened #108 "Load method missing"
The load method is not present on the react-howler type definition.

[2021-04-15 10:28] #100 closed

[2021-04-15 10:34] Stenerson commented on #108
Hey @WoolDoughnut310 (sweet handle! 🐑 🍩),
As discussed in #99 this isn't something I have the capability to do. I'm pretty sure we don't have any native TS support. It's my understanding that the community maintains some definitions at [@types/react-howler/index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-howler/index.d.ts), do you maybe want to open a PR to ad

[2021-06-28 17:34] Stenerson commented on #63
Fixed by #117

[2021-06-28 17:34] #63 closed

[2021-07-11 08:23] miladMAPS opened #118 "how can i implement queuing with react-howler"
I have an app that plays a playlist/album
how can I achieve queue functionality(+ shuffle, play next, add to playlist, ...) using this package?

[2021-07-12 15:04] Stenerson commented on #118
Hi @miladMAPS,
You would implement the queue and other related functionality outside of this package and you could use react-howler to play and control the sound file that's currently playing for your users.

[2021-07-12 15:04] #118 closed

[2021-07-20 13:51] Stenerson opened #120 "Travis build requires migration from .org to .com"
It looks like the travis build is no longer working an the current project is "read-only" on travis-ci.org. There's a migration page but it looks like it requires the repo's owner to migrate. @thangngoc89, is this something you can do? The demo page is no longer updating because the travis build is offline. Thanks!

https://docs.travis-ci.com/user/migrate/open-source-repository-migration

[2021-07-20 17:29] thangngoc89 commented on #120
Hey. I’ve heard bad words about travis lately. Let’s me migrate to Github Actions instead. As long as you have merge permissions, you can update GHA yourself

[2021-07-26 06:26] Illakkiya03 opened #121 "How to know when an audio is completed?"
I tried using onEnd() and onStop() methods, but there was no alert during the end of the audio, instead I got an alert at the beginning of the  audio. Thanks in advance!

[2021-07-26 13:48] Stenerson commented on #121
Hi @Illakkiya03,

I'm not seeing this behavior. It's working as expected when I add the following to the [FullControl example](https://github.com/thangngoc89/react-howler/blob/master/examples/react/src/players/FullControl.js):

`onStop` logs message when I press the "Stop" button

[code]

`onEnd` logs message when the sound playback is complete

[code]

Could you provide more details or a code exa

[2021-07-30 05:00] davidy3k opened #122 "Phone needs to be off vibrate mode to work in iOS"
Seems like a bug -- demos on Howler's site do not require the phone to be off of vibrate/silent mode to function (nor does any web media player I'm aware of).

Forcing `html5` with the prop bypasses this issue and plays audio regardless of silent mode status by the way!

[2021-07-30 05:04] #122 closed, assigned to nobody

[2021-07-30 05:04] davidy3k commented on #122
https://github.com/goldfire/howler.js/issues/1220

[2021-10-29 08:09] wmonecke opened #128 "Thanks!"
Just saying thank you for this cool package! We will be using it in our project :)

[2021-10-29 10:43] Stenerson commented on #128
😍 Thanks @wmonecke! Good luck with the project!

[2021-10-29 10:43] #128 closed, assigned to nobody

[2021-10-31 10:55] wmonecke commented on #128
@Stenerson

Hi there! I just wanted to ask one small question. I am trying to play multiple audio files (a kind of mix and match audios that the user can control to create an ambience - beach, forest, city).
Is there a way to create multiple Howler instances?

I am trying to map over the sounds and creating a Howler for each of the sounds but getting weird behaviour.

Something like this:

[code]

[2021-10-31 10:58] Stenerson commented on #128
🤔 At a quick glance I think that's about how I'd expect things to look... The demo page has multiple ReactHowler instances (not in the same parent element but I wouldn't think that would matter).

What's the strange behavior you're experiencing?

[2021-10-31 11:11] wmonecke commented on #128
@Stenerson Oh ok, I didn't look into that example! I will take a look at them and get back to you. Right now its just playing the same sound super distorted.

[2021-10-31 11:16] Stenerson commented on #128
Yeah, check out the demos... https://khoanguyen.me/react-howler/ I tried to play all of them at the same time and it worked as expected (i.e. no distortion or anything) using Chrome on an Intel Mac.

[2021-10-31 11:17] wmonecke commented on #128
@Stenerson I was applying `volume={100}` and was mistakenly thinking there were multiple instances overlapping each other. Thanks for your help!

[2021-11-02 17:52] wmonecke opened #129 "Sound gap when loop = true"
Hey there!

I noticed that when loop={true} then a small silent gap is noticeable when the track is about to play again.

Is this intended or am I doing something wrong?

Thank you for your help again!

[2021-11-02 17:58] Stenerson commented on #129
This isn't intentional, per say, but it's probably also not an issue with react-howler itself. It certainly *could be* but my guess is that this is probably an upstream question with how howler itself works (or is configured). I'd maybe start by reading through some of their issues (open and or closed) to see if it helps?

https://github.com/goldfire/howler.js/search?q=loop+delay&type=issues

http

[2021-11-02 17:59] wmonecke commented on #129
I just encountered this issue [https://github.com/goldfire/howler.js/issues/39](https://github.com/goldfire/howler.js/issues/39). I will try with files other than mp3s.

[2021-11-18 14:32] wmonecke commented on #129
For anyone encountering this issue, you need to convert the file to .ogg with the audacity app (not with a web-app converter like I was doing).

[2021-11-18 14:32] #129 closed, assigned to nobody

[2021-11-19 12:32] wmonecke opened #130 "How to display seek/progress bar?"
I am having some issues trying to display a seek bar where the user can click or scroll to different parts of the audio.

I saw the example at `FullControl.js` but it is still not clear to me how you would update the value.
I am controlling the audio from my redux store so I am trying to achieve something like:

[code]

I would then use the `time` to update the UI.

Could you help me understand ho

[2021-11-19 12:48] Stenerson commented on #130
The FullControl example is using a [requestAnimationFrame](https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame) polyfill (https://www.npmjs.com/package/raf) that uses a `ref` to call the `seek()` method ​

I'd probably [use a hook](https://reactjs.org/docs/hooks-reference.html#useref) these days, but the example using a `ref` to set `this.player`, then uses `this.player.s

[2021-11-19 13:20] wmonecke commented on #130
@Stenerson  Oh ok I am just very unfamiliar into `raf`. Thank you!

[2021-11-19 13:24] Stenerson commented on #130
Yeah, I'm actually not too familiar with it but the important thing to know is that there's not a "seek updated" callback. You need to bring your own method of asking the player what the current seek position is. `raf` seem to be a fine method. Not sure if you could get away with a simple recursive `setTimeout` or not. There's probably some stuff out there comparing the two. Good luck!

[2021-11-19 13:24] #130 closed, assigned to nobody

[2021-12-08 07:10] Yanxiazhii opened #131 "@types/react-howler missing 'rate' prop"
in react-howler ReactHowler.js
![image](https://user-images.githubusercontent.com/91260886/145163993-7dfd4d9e-4884-4730-a0c4-edbe181c068b.png)

'rate' prop miss in @types/react-howler indes.t.ts
![image](https://user-images.githubusercontent.com/91260886/145164159-bc9c121c-ac92-4b47-b0ce-4f97c8c9cf55.png)

@types/react-howler version:3.7.2
react-howler version: 5.2.0

[2021-12-08 23:38] Stenerson commented on #131
Should this be submitted to `DefinitelyTyped/DefinitelyTyped` or something like that? I don't use typescript and we don't maintain the typescript definitions. Thanks!

[2021-12-16 05:52] Yanxiazhii commented on #131
Yes, It should be submitted to `DefinitelyTyped`.Thank you for your reply!

[2021-12-16 13:32] #131 closed, assigned to nobody

[2022-04-09 11:13] barackm opened #133 "How to prevent react-howler from creating a new instance of the same song while the previous one is still playing when updating the seek?"
I am trying to create an audio player, I have been following the documentation [here](https://github.com/thangngoc89/react-howler/blob/master/examples/react/src/players/FullControl.js) for the full control example,
However, when I try to update the seek of the player with my range input, the same song starts playing from the beginning while the previous one is still playing.

**Here are the method

[2022-04-11 11:41] Stenerson commented on #133
Hi @barackm, Can you include the rest of your component's code or, better yet, reproduce in a simple, stripped-down, example and include that code?

My hunch is that you're accidentally creating a new instance of react-howler somewhere or some state's not getting updated like you're expecting.

[2022-06-22 17:40] pekado opened #134 "Fade in OnPlay"
Hi!

Any ideas of how to fade in onPlay? I'm trying to use for loop but is not working.
[code]

[2022-06-22 18:02] Stenerson commented on #134
I haven't tried this and it's been a while since I've done anything with the internals here but have you tried using Howler's `fade` method? https://github.com/goldfire/howler.js#fadefrom-to-duration-id

Without seeing the rest of your component I'm not sure if the way you're setting the `ref` is working either. You could try doing it like we're doing in the examples `ref={(ref) => (envSuond = ref

[2022-06-22 18:04] pekado commented on #134
The ref is useRef hook. How can I use a Howler method in the component? full code:

[code]

[2022-06-22 18:28] Stenerson commented on #134
I don't have time today to open the project and try things out but have you tried `envSound.current.howler.volume(0.001);` & `envSound.current.howler.volume(index / 1000);`?

A new `useEffect` watching for changes in `envSound` could work as well:

[code]

One more thing to check out is this repo from a previous issue/PR that had a working "fade out" example: https://github.com/svlapin/react-howle

[2022-06-22 19:23] pekado commented on #134
Doesn't work, I'm working with hooks. :/

[2022-06-22 19:30] pekado commented on #134
UseEffect worked !

[2022-06-22 19:30] #134 closed, assigned to nobody

[2022-07-06 07:58] ovionlogis commented on #133
faced the same problem, I'm sure it's related to this https://github.com/goldfire/howler.js/issues/1163

[2022-08-24 22:24] wasifhyder commented on #133
Could be caused by a song that's not fully loaded. Since you're buffering the song (assuming the file is very large). This kind of error occurs when you try to load a part of the song that's not loaded yet.